$default-gap: 1.5rem !default;
$default-border-radius: .25em !default;
$default-border-color: #cfd5da !default;
$default-emphasize-color: #e46622 !default;
$default-font-color: #757575 !default;

$breakpoint-screen-tablet: 768px !default;
$breakpoint-screen-desktop: 992px !default;

