.grid {
  @extend %clearfix;
  margin: $default-gap (-$default-gap);

  @at-root [class^=grid__col] {
    float: left;
    padding: 0 $default-gap;
    width: 100%;
  }

  @media screen and (min-width: $breakpoint-screen-tablet) {

    &__col-m {
      width: 50%;
    }
  }

  @media screen and (min-width: $breakpoint-screen-desktop) {
    &__col-l {
      width: 50%;
    }

    &--justified {
      display: flex;
      align-items: stretch;
    }
  }
}