.form {
  font-size: .9rem;

  &__input-block {
    margin: $default-gap 0;

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (min-width: $breakpoint-screen-tablet) {
      &--tablet-leant-to-right {
        text-align: right;
        margin: 0;
      }

      &--tablet-left-aside {
        float: left;
      }

      &--tablet-stretched {
        height: calc(100% - #{$default-gap});
      }
    }

    @media screen and (min-width: $breakpoint-screen-desktop) {
      &--tablet-leant-to-right {
        padding-right: $default-gap;
      }
    }
  }

  &__input-block-msg {
    display: none;
    color: #f00;

    &::after {
      content: attr(data-message);
    }
  }
}
